

<div class="alert alert-primary" role="alert" style="height: 100px;width:100px">
    You 
  </div>
  <div class="alert alert-secondary" role="alert" style="height: 100px;width:100px">
    Can
  </div>
  <div class="alert alert-success" role="alert" style="height: 100px;width:100px">
    Publish 
  </div>
  <div class="alert alert-danger" role="alert" style="height: 100px;width:100px">
    your 
  </div>
  <div class="alert alert-warning" role="alert" style="height: 100px;width:100px">
    Company adds here
  </div>
  <div class="alert alert-info" role="alert" style="height: 100px;width:100px">
    Just for  
  </div>
  <div class="alert alert-light" role="alert" style="height: 100px;width:100px">
    100rs per month
  </div>
  <div class="alert alert-dark" role="alert" style="height: 300px;width:100px">
    For, Further details plz Connect with us Using...
  </div>
  
<div class="alert alert-primary" role="alert" style="height: 100px;width:100px">
    Facebook
  </div>
  
  <div class="alert alert-danger" role="alert" style="height: 100px;width:100px">
    Twitter
  </div>
  <div class="alert alert-warning" role="alert" style="height: 100px;width:100px">
    Instagram
  </div>
  <div class="alert alert-success" role="alert" style="height: 100px;width:100px">
    
  </div>

